*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  height: 80vh;
}

.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.form-button{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  
}

